parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 5
			path: src/DTOs/CustomerData.php

		-
			message: '#^Parameter \$meta of class Sdpayhub\\Payzy\\DTOs\\CustomerData constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/DTOs/CustomerData.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 6
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Parameter \$meta of class Sdpayhub\\Payzy\\DTOs\\SubscriptionData constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/DTOs/SubscriptionData.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method cancel\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method capture\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method charge\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method create\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method partialRefund\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method paymentLink\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method qr\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method refund\(\) parameter \#1 \$paymentId with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method refund\(\) parameter \#2 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method status\(\) parameter \#1 \$paymentId with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method status\(\) parameter \#2 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method verify\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method verifySignature\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Class Sdpayhub\\Payzy\\Facades\\Payzy has PHPDoc tag @method for method verifyWebhook\(\) parameter \#1 \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Facades/Payzy.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Factories/GatewayFactory.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Factories/GatewayFactory.php

		-
			message: '#^Cannot access offset ''access_token'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset ''captures'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset ''description'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset ''order_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset ''related_ids'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 5
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 61
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Parameter \#1 \$body of method Sdpayhub\\Payzy\\Gateways\\PayPal\\PayPalGateway\:\:errorMessage\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Parameter \#1 \$body of method Sdpayhub\\Payzy\\Gateways\\PayPal\\PayPalGateway\:\:errorMessage\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 10
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 10
			path: src/Gateways/PayPal/PayPalGateway.php

		-
			message: '#^Cannot access offset ''custId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 4
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 38
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Parameter \#1 \$body of method Sdpayhub\\Payzy\\Gateways\\Paytm\\PaytmGateway\:\:extractErrorMessage\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Parameter \#1 \$params of method Sdpayhub\\Payzy\\Gateways\\Paytm\\PaytmGateway\:\:generateChecksum\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Gateways/Paytm/PaytmGateway.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 8
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 44
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Parameter \#1 \$body of method Sdpayhub\\Payzy\\Gateways\\PhonePe\\PhonePeGateway\:\:extractErrorMessage\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Parameter \#1 \$data of method Sdpayhub\\Payzy\\Gateways\\PhonePe\\PhonePeGateway\:\:extractRedirectUrl\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapRedirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapSuccess\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 4
			path: src/Gateways/PhonePe/PhonePeGateway.php

		-
			message: '#^Cannot access offset ''description'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 15
			path: src/Gateways/Razorpay/RazorpayGateway.php

		-
			message: '#^Cannot access offset ''error'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 15
			path: src/Gateways/Razorpay/RazorpayGateway.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 19
			path: src/Gateways/Razorpay/RazorpayGateway.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 80
			path: src/Gateways/Razorpay/RazorpayGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 15
			path: src/Gateways/Razorpay/RazorpayGateway.php

		-
			message: '#^Cannot access offset ''error'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 16
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot access offset ''message'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 16
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot access offset ''object'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 19
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 89
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Parameter \$body of method Sdpayhub\\Payzy\\Gateways\\AbstractGateway\:\:mapFailure\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 16
			path: src/Gateways/Stripe/StripeGateway.php

		-
			message: '#^Cannot cast array\|string\|null to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Method Sdpayhub\\Payzy\\Http\\Controllers\\WebhookController\:\:extractSignature\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Parameter \#1 \$header of method Sdpayhub\\Payzy\\Http\\Controllers\\WebhookController\:\:parseStripeTimestamp\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Parameter \#1 \$value of method Sdpayhub\\Payzy\\Http\\Controllers\\WebhookController\:\:parsePayPalTimestamp\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Parameter \$payload of class Sdpayhub\\Payzy\\DTOs\\WebhookPayload constructor expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/WebhookController.php

		-
			message: '#^Cannot access offset ''cache'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Cannot call method make\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Cannot call method store\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 4
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \#1 \$cache of class Sdpayhub\\Payzy\\Services\\CacheIdempotencyStore constructor expects Illuminate\\Contracts\\Cache\\Repository, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \#1 \$http of class Sdpayhub\\Payzy\\Factories\\GatewayFactory constructor expects Sdpayhub\\Payzy\\Services\\SecureHttpClient, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \#1 \$store of class Sdpayhub\\Payzy\\Services\\IdempotencyService constructor expects Sdpayhub\\Payzy\\Contracts\\IdempotencyStore, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \$cache of class Sdpayhub\\Payzy\\Services\\WebhookReplayGuard constructor expects Illuminate\\Contracts\\Cache\\Repository, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \$factory of class Sdpayhub\\Payzy\\Services\\PayzyManager constructor expects Sdpayhub\\Payzy\\Factories\\GatewayFactory, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \$idempotency of class Sdpayhub\\Payzy\\Services\\PayzyManager constructor expects Sdpayhub\\Payzy\\Services\\IdempotencyService, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Parameter \$secretMasker of class Sdpayhub\\Payzy\\Services\\SecureHttpClient constructor expects Sdpayhub\\Payzy\\Support\\SecretMasker, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Providers/PayzyServiceProvider.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 12
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \#1 \$payload of method Sdpayhub\\Payzy\\Services\\CacheIdempotencyStore\:\:hydrate\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/CacheIdempotencyStore.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 13
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \#1 \$date of method Carbon\\CarbonInterface\:\:greaterThan\(\) expects DateTimeInterface\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \#1 \$payload of method Sdpayhub\\Payzy\\Services\\DatabaseIdempotencyStore\:\:hydrate\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$data of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$meta of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:failure\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:redirect\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Parameter \$rawResponse of static method Sdpayhub\\Payzy\\DTOs\\PaymentResponse\:\:success\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/DatabaseIdempotencyStore.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Services/IdempotencyService.php

		-
			message: '#^Anonymous function should return Sdpayhub\\Payzy\\DTOs\\PaymentResponse but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Services/PayzyManager.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Services/PayzyManager.php

		-
			message: '#^Property Sdpayhub\\Payzy\\Services\\PayzyManager\:\:\$gatewayName is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Services/PayzyManager.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Services/PayzyManager.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Support/RetryPolicy.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/Support/RetryPolicy.php
